services:
  - type: web
    name: medmapp
    env: python
    buildCommand: "./build.sh"
    startCommand: "daphne -b 0.0.0.0 -p 8000 config.asgi:application"
    postdeployCommand: "python manage.py migrate --noinput"

    envVars:
      - key: DEBUG
        value: 'False'
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings
      - key: PYTHON_VERSION
        value: 3.11
      - key: SECRET_KEY
        generateValue: true

    disk:
      name: media
      mountPath: /opt/render/project/src/media
